.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

.header {
  grid-area: header;
  border-radius: 0 0 20px 0;
}
.sidebar {
  position: sticky;
  background-color: var(--black);
  grid-area: sidebar;
  min-width: 300px;
}
footer {
  grid-area: footer;
}
main {
  margin: 20px;
  grid-area: content;
  height: 150vh;
}

.overflow-example {
  width: 100%;
  height: 100px;
  overflow: scroll;
  border: 1px solid var(--black);
  padding: 100px 0;
}
.overflow-example__content {
  color: var(--white);
}
