.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
}

.header {
  grid-area: header;
  border-radius: 0 0 20px 0;
}
.sidebar {
  position: sticky;
  background-color: var(--black);
  grid-area: sidebar;
  width: 300px;
}
footer {
  grid-area: footer;
}
main {
  margin: 20px;
  grid-area: content;
  height: 89vh;
}

.overflow-example {
  width: 500px;
  height: 100px;
  margin: 10px;
  border: 1px solid var(--black);
  padding: 100px 0;
}
.scroll {
  overflow: scroll;
}

.hidden {
  overflow: hidden;
}

.overflow-example__content {
  color: var(--white);
}

form {
  display: grid;
  place-content: center;
  color: var(--white);
}
forn > label {
  cursor: pointer;
}
.form-header {
  text-align: center;
  font-size: 30px;
  margin: 0;
}
.form-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form > * {
  gap: 10p;
}
.form__checkbox-list {
  display: flex;
}
.form__radiobox-list {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--black);
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 100%;
}

input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before {
  background-color: var(--green);
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--green);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--green);
  border: 2px solid #007acc;
  border-radius: 50%;
  cursor: pointer;
}
