.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1);
  grid-gap: 10px;
}
.grid-item {
  background-color: #ccc;
  width: 100%;
  border-radius: 10px;
}

.grid-item-super {
  grid-column: span 3;
  grid-column-start: span 3;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 10px solid black;
  padding-top: 10px;
}
