img {
  max-width: 100%;
  max-height: 100%;

  border-radius: 20px;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}
.galery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20%;
}
.galery__item {
  height: 200px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;

  margin-top: 400px;
}
.blog__item {
  width: 200px;

  padding: 20px 10px;
  border-radius: 15px;

  background-color: var(--black);
  color: var(--white);

  display: flex;
  flex-direction: column;
}
.blog__body {
  display: flex;
  flex-direction: column;
}
.blog__header {
  position: relative;
}

.blog__header-img {
  position: relative;
  z-index: 10;
}
.blog__header-img:hover {
  opacity: 0;
}
.blog__header-title {
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 0;
}

.blog__footer {
  display: flex;
  justify-content: space-between;
}
.blog__footer-button {
  border: 0;
  padding: 5px 20px;
  margin: 10px 2px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.like {
  background-color: var(--green);
}
.dislike {
  background-color: var(--red);
}
.blog__footer-price {
  margin: auto 0;
}

.blog__footer-button:hover {
  opacity: 0.5;
}
.text-mute {
  color: var(--white);
  opacity: 0.5;
}

.header {
  grid-area: header;
  border-radius: 0 0 20px 0;
}
.sidebar {
  background-color: var(--black);
  grid-area: sidebar;
}
footer {
  position: static;
  grid-area: footer;
}
main {
  margin: 20px;
  grid-area: content;
}
