main {
  width: 50%;
  margin: 50px auto;
}
footer {
  background-color: var(--black);
  color: var(--white);
  position: static;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
h1 {
  color: var(--white);
}

.iframe-block {
  margin: 50px 0;
}

.iframe {
  width: 100%;
  border-radius: 20px;
}
.pogoda {
  width: 100%;
  height: 55vh;

  background-color: var(--black);
  color: var(--white);
}
audio {
  width: 100%;
}

.stariy {
  position: relative;
}

.stariy::after {
  position: absolute;
  left: -260px;
  content: "══════════⇒";
}

video {
  width: 100%;
}
