:root {
  --background: #272a34f0;
  --black: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue1: #61afef;
  --purple: #c678dd;
  --blue2: #56b6c2;
  --white: #abb2bf;
}
body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}
h1 {
  color: var(--white);
}
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
}
li {
  color: var(--white);
}
li::marker {
  content: "+ ";
}
button,
input {
  background-color: var(--black);
  color: var(--white);

  padding: 10px 50px;
  border: 0;
  border-radius: 10px;
  transition: 0.5s;
}
button:hover {
  opacity: 0.5;
  box-shadow: 0 0 10px var(--white);
}

input {
  padding: 10px 10px;
}
button:active {
  box-shadow: 0 0 10px var(--green);
}
form > input:focus {
  box-shadow: 0 0 10px var(--white);
}
form > input:invalid {
  box-shadow: 0 0 10px var(--red);
}
footer {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  z-index: 100;
}

.text-underline {
  position: relative;
}
.text-underline::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;
  height: 2px;

  background: var(--white);
}
